<link rel="stylesheet" href="/OnlineMonitor/OLM_Condumex/CSS/style.css" type="text/css">

   <div class=" header">
        <a href="#"><img class="logo" src="/OnlineMonitor/OLM_Condumex/Condumex_logo.svg.png" alt="Logo"></a>
        <h1>Unidad Industrial Vallejo Monitor en Línea - Potencia</h1>
        
    </div>
    <div class="container potencia">
        <ul class="procesos linkpotencia">
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu_Conductores">Conductores</a></li>
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu_Tubulado">Tubulado</a></li>          
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu_RyE">Reunido y Encintado</a></li>          
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu_CyT">Corte y Trenzado</a></li>          
        </ul>
    </div>
    <div class="buttons">
        <a class="btn" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu">Menu Principal</a>
    </div>
