<link rel="stylesheet" href="/OnlineMonitor/OLM_Condumex/CSS/style.css" type="text/css">
    <div class="header principal">
            <a href="#"><img class="logo" src="/OnlineMonitor/OLM_Condumex/Condumex_logo.svg.png" alt="Logo"></a>
            <h1>Unidad Industrial Vallejo Monitor en Línea</h1>
    </div>
      <div class="container">
    <ul class="procesos">
      <li><a href="">Potencia</a>
        <ul>
          <li><a href="">Conductores</a>
            <ul>
              <li><a href="">Estirado</a></li>
              <li><a href="">Bunchado</a></li>
              <li><a href="">Cableado Int</a></li>
              <li><a href="">Cableado GSO</a></li>
            </ul>
          </li>
          <li><a href="">Tubulado</a>
            <ul>
              <li><a href="">Aislamiento</a></li>
              <li><a href="">Cubierta</a></li>
            </ul>
          </li>
          <li><a href="">Reunido y Encintado</a>
            <ul>
              <li><a href="">Reunido</a></li>
            <li><a href="">Engargolado</a></li>
            <li><a href="">Encintado</a></li>
            </ul>
          </li>
          <li><a href="">Corte y Trenzado</a>
            <ul>
              <li><a href="">Impregnado</a></li>
              <li><a href="">Trenzado</a></li>
              <li><a href="">Corte Int</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li><a href="">Magneto</a>
        <ul>
          <li class="submenu-mag"><a href="">Estirado</a></li>
          <li class="submenu-mag"><a href="">Forrado y Aplanado</a></li>
          <li class="submenu-mag"><a href="">Extra Grueso</a></li>
          <li class="submenu-mag"><a href="">VZF</a></li>
          <li class="submenu-mag"><a href="">NEVs</a></li>
          <li class="submenu-mag"><a href="">SEVs</a></li>
          <li class="submenu-mag"><a href="">SEMs 1</a></li>
          <li class="submenu-mag"><a href="">SEMs2</a></li>
          <li class="submenu-mag"><a href="">Fino</a></li>
        </ul>
      </li>
    </ul>
  </div>
