<link rel="stylesheet" href="/OnlineMonitor/OLM_Condumex/CSS/style.css" type="text/css">
    <div class="header reunido">
        <a href="#"><img class="logo" src="/OnlineMonitor/OLM_Condumex/Condumex_logo.svg.png" alt="Logo"></a>
        <h1>Unidad Industrial Vallejo Monitor en Línea - Potencia / Reunido y Encintado</h1>
        
    </div>
    <div class="container">
        <ul class="procesos">
            <li><a class="opciones reunido" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Reunido">Reunido</a></li>
            <li><a class="opciones reunido" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Engargolado">Engargolado</a></li>
            <li><a class="opciones reunido" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Encintado">Encintado</a></li>
        </ul>
    </div>
    <div class="buttons reunido">
        <a class="btn" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu_Potencia">Menu Anterior</a>
        <a class="btn" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu">Menu Principal</a>
    </div>