<link rel="stylesheet" href="/OnlineMonitor/OLM_Condumex/CSS/style.css" type="text/css">
<div class="header corte">
        <a href="#"><img class="logo" src="/OnlineMonitor/OLM_Condumex/Condumex_logo.svg.png" alt="Logo"></a>
        <h1>Unidad Industrial Vallejo Monitor en LÍnea - Potencia / Corte y Trenzado</h1>
        
    </div>
    <div class="container">
        <ul class="procesos">
            <li><a class="opciones corte" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Impregnado">Impregnado</a></li>
            <li><a class="opciones corte" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Trenzado">Trenzado</a></li>
            <li><a class="opciones corte" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Corte">Corte</a></li>
        </ul>
    </div>
    <div class="buttons corte">
        <a class="btn" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu_Potencia">Menu Anterior</a>
        <a class="btn" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu">Menu Principal</a>
    </div>