  <link rel="stylesheet" href="/OnlineMonitor/OLM_Condumex/CSS/style.css" type="text/css">
  <div class="header conductores">
        <a href="#"><img class="logo" src="/OnlineMonitor/OLM_Condumex/Condumex_logo.svg.png" alt="Logo"></a>
        <h1>Unidad Industrial Vallejo Monitor en Línea - Potencia / Conductores</h1>
    </div>
    <div class="container">
        <ul class="procesos">
            <li><a class="opciones conductores" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Estirado">Estirado</a></li>
            <li><a class="opciones conductores" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Bunchado">Bunchado</a></li>
            <li><a class="opciones conductores" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=CableadoInt">Cableado Int</a></li>
            <li><a class="opciones conductores" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=CableadoGSO">Cableado GSO</a></li>
        </ul>
    </div>
    <div class="buttons conductores">
        <a class="btn" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu_Potencia">Menu Anterior</a>
        <a class="btn" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu">Menu Principal</a>
    </div>