<link rel="stylesheet" href="/OnlineMonitor/OLM_Condumex/CSS/style.css" type="text/css">

   <div class=" header">
        <a href="#"><img class="logo" src="/OnlineMonitor/OLM_Condumex/Condumex_logo.svg.png" alt="Logo"></a>
        <h1>Unidad Industrial Vallejo Monitor en Línea - Magneto</h1>
        
    </div>
    <div class="container magneto">
        <ul class="procesos linkmagneto">
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=EstiradoMag">Estirado</a></li>
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Forrado">Forrado</a></li>          
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Extragrueso">Extra Grueso</a></li>          
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=VZF">VZF</a></li>          
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=NEV">NEVs</a></li>          
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=SEV">SEVs</a></li>          
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=SEM">SEMs</a></li>          
            <li><a class="opciones" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Fino">Fino</a></li>          
        </ul>
    </div>
    <div class="buttons">
        <a class="btn" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu">Menu Principal</a>
    </div>
