<link rel="stylesheet" href="/OnlineMonitor/OLM_Condumex/CSS/style.css" type="text/css">
    <div class="header tubulado">
        <a href="#"><img class="logo" src="/OnlineMonitor/OLM_Condumex/Condumex_logo.svg.png" alt="Logo"></a>
        <h1>Unidad Industrial Vallejo Monitor en Línea - Potencia / Tubulado</h1>
    </div>
    <div class="container">
        <ul class="procesos">
            <li><a class="opciones tubulado" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Aislamiento">Aislamiento</a></li>
            <li><a class="opciones tubulado" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Cubierta">Cubierta</a></li>
        </ul>
    </div>
    <div class="buttons tubulado">
        <a class="btn" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu_Potencia">Menu Anterior</a>
        <a class="btn" href="https://advuiverptest.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu">Menu Principal</a>
    </div>