<link rel="stylesheet" href="/OnlineMonitor/OLM_Condumex/CSS/style.css" type="text/css">
<div class="header principal">
        <a href="#"><img class="logo" src="/OnlineMonitor/OLM_Condumex/Condumex_logo.svg.png" alt="Logo"></a>
        <h1>Unidad Industrial Vallejo Monitor en Línea</h1>
        
    </div>
    <div class="container">
        <ul class="procesos">
            <li><a class="opciones" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu_Potencia">Potencia</a></li>
            <li><a class="opciones" href="https://advuiverp.condumex.com.mx/OnlineMonitor/mvc/Display/Show?id=Menu_Magneto">Magneto</a></li>          
        </ul>
    </div>